#include "Shared.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.wezzard.rubberdux
PRODUCT_NAME = Rubberdux
RUBBERDUX_WORKSPACE_ROOT =
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DISTRIBUTE
CODE_SIGN_IDENTITY = Developer ID Application
CODE_SIGN_STYLE = Automatic
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
